* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    background-color: lightgray
};

nav {
    margin: 10px 10px;
}

h1 {
    font-family: 'DM Serif Text', serif;;
    text-align: center;
    margin: 50px;
}

h2, nav {
    font-family: 'DM Serif Text', serif;
    margin: 30px 20px;
}

main {
    /* background-image: url(../assets/music-store.png); */
}

p {
    margin: 10px;
}

ol, ul, li {
    margin: 0px;
}

img{margin:20px;}

.resize {
    height: auto;
    width: 100px;
}

.hidden {
    display: none;
}