body {
    font-family: Helvetica;
};

nav {margin: 30px;}

h1 {
    font-family: 'DM Serif Text', serif;;
    text-align: center;
    margin: 50px;
}

h2, h3 {
    font-family: 'DM Serif Text', serif;
    margin: 30px;
}

p {
    margin: 0px;
}

ol, ul, li {
    margin: 0px;
}

img{margin:20px;}

.resize {
    height: auto;
    width: 400px;
}

.hidden {
    display: none;
}